.Menu {
  font-size: 18px;

  div .nav-link {
    display: contents;

  }

  li {
    min-width: 30px;
    margin: 0 10px;
  }

  .dropdown-menu {
    padding: 0;
    border: none;
  }

  .dropdown-item {
    padding: 10px 30px;
    font-size: 18px;
  }
}
