.Menu {
  font-size: 18px;

  .note-count {
    margin-right: 5px;
  }

  div .nav-link {
    display: contents;

  }

  li {
    min-width: 30px;
    margin: 0 10px;
  }

  .dropdown-menu {
    padding: 0;
    border: none;
  }

  .dropdown-item {
    padding: 10px 30px;
    font-size: 18px;
  }

  #logo {
    width: 32px;
    margin-right: 5px;
  }
}
