.Note {
  max-width: 18rem;
  display: inline-flex;
  margin: 5px;
  position: absolute;
  //padding: 10px;
  border: none;
  border-radius: 10px 30px;

  textarea {
    width: 100%;
    border: none;
    overflow: hidden;
    background: inherit;
    min-height: 80px;
  }

  .faMove {
    cursor: move;
  }

  h5 {
    height: 1rem;
    display: contents;

    input {
      width: calc(100% - 2em - 2px);
      margin: 0 5px;
      text-align: center;
      border: none;
      background: inherit;
    }
  }

  .card-header {
    padding-bottom: 10px;
    border-radius: 10px 30px 0 0;
  }

  .note-content {
    padding: 10px 10px 0 10px;
    margin-bottom: 30px;
    border-radius: 0;
  }
}
